In [1]:
# Importing pandas package
import pandas as pd

# Read csv file into Pandas data frame
bank_loans = pd.read_csv("../data/cleaned_data/cleaned_bank_loan_modeling.csv")

# Displays the csv file
bank_loans.head()

,Age,Years Work Experience,Income,ZIP Code,Family Size,Monthly Credit Card Spending,Education Level,Value of Mortgage,Personal Loan
0,25,1,49000,91107,4,1600,Undergrad,0,No
1,45,19,34000,90089,3,1500,Undergrad,0,No
2,39,15,11000,94720,1,1000,Undergrad,0,No
3,35,9,100000,94112,1,2700,Graduate,0,No
4,35,8,45000,91330,4,1000,Graduate,0,No