In [54]:
import pandas as pd
import requests
import json
from config import api_key
df = pd.read_csv("../data/cleaned_data/cleaned_bank_loan_modeling.csv")

df.head()

,Age,Years Work Experience,Income,ZIP Code,Family Size,Monthly Credit Card Spending,Education Level,Value of Mortgage,Personal Loan
0,25,1,49000,91107,4,1600,Undergrad,0,No
1,45,19,34000,90089,3,1500,Undergrad,0,No
2,39,15,11000,94720,1,1000,Undergrad,0,No
3,35,9,100000,94112,1,2700,Graduate,0,No
4,35,8,45000,91330,4,1000,Graduate,0,No

In [43]:
df_zip = df['ZIP Code'].astype('str')
df_zip.count()

5000

In [12]:
df_zip_limited = df_zip[0:30]
df_zip_limited.head()

0    91107
1    90089
2    94720
3    94112
4    91330
Name: ZIP Code, dtype: object

In [22]:
df_zip_limited.head()

0    91107
1    90089
2    94720
3    94112
4    91330
Name: ZIP Code, dtype: object

In [10]:
df_zip_limited = [str(x) for x in df_zip_limited]

In [44]:
if isinstance(df_zip, pd.Series):
    print('something')

something

In [50]:
for index, value in df_zip.items():
    zip = {value}
zip

{'92612'}

In [55]:
zip_codes=[]
cities=[]

for index, value in df_zip_limited.items():
    zip = {value}
    url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {"key": api_key,
        "address":zip }
    zip_request = requests.get(url, params=params)
    zip_request=zip_request.json()
    cities.append(zip_request["results"][0]["address_components"][1]["long_name"])
    zip_codes.append(zip_request["results"][0]["address_components"][0]["long_name"])

In [56]:
# create dataframe
zip_city_df = pd.DataFrame({
    "Cities": cities,
    "Zip Code": zip_codes
})

zip_city_df

             Cities Zip Code
0          Pasadena    91107
1       Los Angeles    90089
2          Berkeley    94720
3     San Francisco    94112
4        Northridge    91330
5         San Diego    92121
6         Claremont    91711
7          Monterey    93943
8       Los Angeles    90089
9              Ojai    93023
10           Albany    94710
11    Redondo Beach    90277
12    Santa Barbara    93106
13      BEL TIBURON    94920
14         Glendora    91741
15      Santa Clara    95054
16         Capitola    95010
17        Palo Alto    94305
18  North Hollywood    91604
19         Berkeley    94720
20        Daly City    94015
21         Westwood    90095
22    Redondo Beach    90277
23     Newbury Park    91320
24           Arcata    95521
25        Palo Alto    94305
26       Santa Cruz    95064
27      Rancho Park    90064
28          Fremont    94539
29    San Francisco    94104

In [35]:
print(zip_request["results"][0]["address_components"][1]["long_name"])
print(zip_request["results"][0]["address_components"][0]["long_name"])

San Francisco
94104