In [24]:
# Importing pandas
import pandas as pd

# Reading CSV file containing data into a Dataframe
bank_loans = pd.read_csv("raw_data/Bank_Personal_Loan_Modelling.csv")

# Displays first few rows of dataframe to show column names
bank_loans.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [25]:
# Narrowing columns in the data frame for our use (can be adjusted if need be)
bank_loans = bank_loans[['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
                         'Education', 'Mortgage', 'Personal Loan']]

# Displaying reduced dataframe
bank_loans.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan
0,25,1,49,91107,4,1.6,1,0,0
1,45,19,34,90089,3,1.5,1,0,0
2,39,15,11,94720,1,1.0,1,0,0
3,35,9,100,94112,1,2.7,2,0,0
4,35,8,45,91330,4,1.0,2,0,0

In [21]:
# Checking data types of each column
bank_loans.dtypes

Age                int64
Experience         int64
Income             int64
ZIP Code           int64
Family             int64
CCAvg            float64
Education          int64
Mortgage           int64
Personal Loan      int64
dtype: object

In [22]:
# Converts education column to type string
bank_loans = bank_loans.astype({"Education": 'str'})

# Clarifies what each value in the education category stands for
bank_loans["Education"] = bank_loans["Education"].replace({"1": "Undergrad", "2": "Graduate",
                                                          "3": "Advanced/Professional"})

In [23]:
# Adds 3 zeros to show column is in thousands
bank_loans["Income"] = bank_loans["Income"].map("{:3f}".format)
bank_loans.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan
0,25,1,49.000,91107,4,1.6,Undergrad,0,0
1,45,19,34.000,90089,3,1.5,Undergrad,0,0
2,39,15,11.000,94720,1,1.0,Undergrad,0,0
3,35,9,100.000,94112,1,2.7,Graduate,0,0
4,35,8,45.000,91330,4,1.0,Graduate,0,0
...,...,...,...,...,...,...,...,...,...
4995,29,3,40.000,92697,1,1.9,Advanced/Professional,0,0
4996,30,4,15.000,92037,4,0.4,Undergrad,85,0
4997,63,39,24.000,93023,2,0.3,Advanced/Professional,0,0
4998,65,40,49.000,90034,3,0.5,Graduate,0,0
4999,28,4,83.000,92612,3,0.8,Undergrad,0,0